*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(135deg,rgb(70, 70, 247), rgb(0, 183, 255));
    background-repeat: no-repeat;
}
header{
    background: linear-gradient(135deg, rgb(174, 0, 255), #0362c0);
    color: white;
    padding: 2.5em 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 7px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
  transition: all 0.3s ease;
}
nav a:hover {
   background: rgba(2, 236, 236, 0.418);
   border-radius: 5px;
}
.seccion{
    padding: 3em 1em;
    max-width: 1100px;
    margin: auto;
}
.box{
    background: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.192);
}
h3{
    color: #0362c0;
    margin-top: 10px;
    padding: 6px;
}
h4{
    padding: 8px;
    color: #5202ad;
}
.box p{
    padding: 10px;

}
img{
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 6px;
}
footer {
      color: white;
      text-align: center;
      padding: 2em 1em;
      font-size: 0.95em;
    }

.slider{
    width: 90%;
    max-width: 900px;
    height: 450px;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    background: #ddd;
    padding: 15px;
}

.slide{
    border-radius: 15px;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slide:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

.bit{
    background: #fff9e6;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    color: black;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.192);

}
.secb{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.secdos{
    background: #F9DC5C;
    width: 550px;
    height: 400px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

.sectres{
    background: #D0D6B5;
    width: 550px;
    height: 400px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
}

.charlas {
    display: flex;
    gap: 15px;
}

.roblox{
    background: #fff9e6;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    color: black;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.192);
}

.rox{
 gap: 15px;
 display: flex;
}

.runo{
    background: #cbcbcd;
    width: 550px;
    height: 340px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

.gen{
    display: flex;
    justify-content: center

}
/*apartado 4*/
.espacio-principal {
    padding: 40px 20px;
    background-color: #0080ff; 
}

.tarjeta {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    font-family: 'Times New Roman', Times, serif;
}

.titulo-apartado {
    color: #1c68eb;
    border-left: 6px solid #6a11cb;
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 24px;
}

.bloque-t h3, .bloque-m h3 {
    color: #616060;
    margin-top: 20px;
}

.video-elemento, .imagen-elemento {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(233, 15, 15, 0.15);
    margin-top: 15px;
}

.pie-foto {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.bloque-m {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

